:root {
    --red: #ef4444;
    --lighterRed: #ed7373;
    --pink: #e7427c;
    --white: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

.container-fluid {
    padding: 3% 10%;
}

.sections-padding {
    padding: 7% 15%;
}

/*Navigation Bar*/

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat-light';
    font-size: 1.2rem;
}

/*Titles*/

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-weight: bold;
}

h1, h2 {
    font-size: 3rem;
}

.main-heading {
    text-align: left;
}

/*Download Buttons*/

.download-btn {
    margin: 5% 3% 5% 0;
}

/* Sections */

.colored-sec {
    background-color: var(--red);
    color: var(--white);
}

.white-sec {
    background-color: var(--white);
}

/*Hero Image*/

.phone-img {
    transform: rotate(25deg);
}

.phone-container {
    width: 40%;
    right: 0;
    position: absolute;
}

/* Icons */

#features {
    position: relative;   
}

#features i {
    color: var(--red);
    margin-bottom: 1rem;
}

#features i:hover {
    color: var(--pink);
}

/* Testimonial Section */

#testimonials .carousel-item {
    background-color: var(--lighterRed);
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: var(--lighterRed);
    padding-bottom: 3%;
}

#press img {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 5%;
}

.sign-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5% 3%;
    width: 100%;
    border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
}

/* Call to Action on the Bottom */

.cta {
    font-weight: 600;
}

/* Footer */

#footer > i {
    padding-left: 10px;
    padding-bottom: 3%;
}

@media (max-width: 1000px) {
   
    .main-heading {
        text-align: center;
    }

    .phone-container {
        position: static; 
        width: 100%;
    }

    .phone-img {
        transform: rotate(0deg);
        position: static;
    }
}


