:root {
    --red: #ef4444;
    --pink: #e7427c;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#title {
    background-color: var(--red);
}

.container-fluid {
    padding: 3% 10%;
}

/*Navigation Bar*/

nav {
    background-color: var(--red);
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat-light';
    font-size: 1.2rem;
}

/*Titles*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*Download Buttons*/

.download-btn {
    margin: 5% 3% 5% 0;
}

/*Hero Image*/

.phone-img {
    transform: rotate(25deg);
}

/* Icons */

#features i {
    color: var(--pink);
}

#features i:hover {
    color: var(--red);
}
